@use './index' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  // padding: 50px 0 0;
  padding: 0;
  font-family: "LT Superior", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-dark-primary, #222); 
  background-color: var(--bg-light-white, #fff); 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding-top: var(--header-height);
}
